section{
    background-color: #f5f5f4;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
}
section p{
    font-size: 50px;
}
.datos{
    padding:20px 100px;
    margin: 0;
}
img{
    border:2px solid black;
}
.datos p{
    font-size: 30px;
    color: black;
    line-height: 100px;
}